<section>
    <header>
        <button id="menuBtn" class="btn" (click)="activateDialog()">Добавить задачу</button>
        <hr/>
    </header>
    <main>
        <ul>
            <li>Something</li>
            <li>Something else</li>
        </ul>
    </main>
    <div>
        <jw-modal id="custom-modal-1">
            <h1>A Custom Modal Window!</h1>
            <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </jw-modal>
    </div>
</section>