/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #dc3545;
    --dark-color: #333333;
    --light-color: #f4f4f4;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style: none;
}

.container{
    max-width: 900px;
    margin: auto;
}

.btn{
    border: none;
    font-family: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btn-primary{
    background-color: chartreuse;
    font-size: 1rem;
    float: left;
}

.btn-denial{
    background-color: tomato;
    font-size: 1rem;
    float: right;
}